                    body,
                    html {
                        min-height: 100%;
                        max-width: 100%;
                        margin: 0;
                        padding: 0;
                        overflow-x: hidden;
                        box-sizing: border-box;
                        font-family: sans-serif;
                    }
                    
                    .container {
                        height: 100vh;
                        display: grid;
                        grid-template-columns: 1fr 4fr;
                        grid-template-rows: 1fr 6fr;
                    }
                    
                    .sideBar {
                        grid-column: 1/2;
                        grid-row: 1/3;
                        background-color: #4d95f3;
                        background-image: linear-gradient(220deg, #4d95f3 0%, #5c7ce9 40%, #696ce2 70%);
                        display: flex;
                        flex-direction: column;
                        overflow-x: scroll;
                        height: 1fr;
                    }
                    
                    .nav {
                        grid-column: 2/3;
                        grid-row: 1/2;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .userOutput {
                        grid-column: 2/3;
                        grid-row: 2/3;
                        display: grid;
                        margin-top: 20px;
                        grid-template-columns: 1fr 10fr 1fr;
                        height: 100%;
                    }
                    
                    .project {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: 10px;
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                        cursor: pointer;
                        border: 1px solid white;
                        max-width: 333px;
                        overflow-x: hidden;
                        border-radius: 7px;
                        padding-right: 5px;
                    }
                    
                    .imger {
                        margin-right: 5px;
                    }
                    
                    .creator {
                        width: 45px;
                        height: 50px;
                        margin-left: 160px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        color: #4d95f3;
                        background-color: white;
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .poop {
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    
                    .lowerTit {
                        font-size: 12px;
                    }
                    
                    .title {
                        width: 50%;
                        margin-left: 80px;
                    }
                    
                    .toDoCreate {
                        border: 1px solid gray;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: gray;
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin: 10px;
                    }
                    
                    .iLoveyou {
                        padding: 10px;
                    }
                    
                    .projectTask {
                        grid-column: 2/3;
                        min-height: 150px;
                        max-height: 200px;
                    }
                    
                    .projectTask {
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(247, 247, 247);
                        border: 1px solid black;
                    }
                    
                    .remover {
                        border: none;
                        height: 30px;
                        background-color: rgb(247, 247, 247);
                        font-size: large;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    
                    .checkList {
                        cursor: pointer;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        border: 1px solid black;
                        background-color: white;
                    }
                    
                    .notes {
                        height: 100px;
                        margin-left: 20px;
                    }
                    
                    .userTop {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin-top: 10px;
                    }
                    
                    .name,
                    .description,
                    .dueDate,
                    .priority {
                        overflow: hidden;
                        max-width: 200px;
                        max-height: 32px;
                        font-size: 12px;
                    }
                    
                    .notes {
                        overflow-x: scroll;
                        flex-direction: row;
                    }
                    
                    @keyframes pulse {
                        0% {
                            transform: scale(1.1);
                            opacity: 0.5;
                        }
                        100% {
                            transform: scale(1.6);
                            opacity: 0.1;
                        }
                    }
                    
                    button,
                    a {
                        position: relative;
                    }
                    
                    button::before,
                    a::before,
                    button::after,
                    a::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: 50%;
                    }
                    
                    button:hover:after,
                    a:hover:after {
                        content: '';
                        background: gray;
                        z-index: 1;
                        animation: pulse 1000ms infinite;
                    }
                    
                    .bodyInsert {
                        background: rgba(0, 0, 0, 0.6);
                        width: 100%;
                        height: 100%;
                        position: fixed;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        visibility: hidden;
                    }
                    
                    .appa {
                        position: fixed;
                        background: white;
                        border-radius: 7px;
                        z-index: 10;
                        width: 651px;
                        height: 210px;
                        margin-bottom: 200px;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .exit {
                        width: fit-content;
                        margin-left: 610px;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    
                    .inputName {
                        display: flex;
                        justify-content: center;
                    }
                    
                    .theSubmitter {
                        all: unset;
                        background: linear-gradient(220deg, #4d95f3 0%, #5c7ce9 40%, #696ce2 70%);
                        color: white;
                        width: 280px;
                        height: 40px;
                        border-radius: 10px;
                        cursor: pointer;
                        text-align: center;
                        margin-left: 180px;
                        margin-top: 25px;
                        position: relative;
                    }
                    
                    .theSubmitter:hover {
                        -moz-box-shadow: 0 0 3px black;
                        -webkit-box-shadow: 0 0 3px black;
                        box-shadow: 0 0 3px black;
                    }
                    
                    .projectName {
                        margin-top: 5px;
                        margin-left: 130px;
                        width: 375px;
                        height: 40px;
                        border-radius: 7px;
                        border-color: black;
                        border-style: solid;
                        border-width: 1px;
                        outline: none;
                    }
                    
                    .projectName:hover {
                        -moz-box-shadow: 0 0 3px black;
                        -webkit-box-shadow: 0 0 3px black;
                        box-shadow: 0 0 3px black;
                    }
                    
                    .projectName:focus {
                        -moz-box-shadow: 0 0 3px black;
                        -webkit-box-shadow: 0 0 3px black;
                        box-shadow: 0 0 3px black;
                    }
                    
                    .creatorHolder {
                        display: flex;
                        flex-direction: row;
                    }
                    
                    .sucker {
                        height: fit-content;
                        display: flex;
                        color: white;
                        cursor: pointer;
                        align-items: end;
                        margin-left: 7px;
                    }
                    
                    .bodyInsert2 {
                        background: rgba(0, 0, 0, 0.6);
                        width: 100%;
                        height: 100%;
                        position: fixed;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        visibility: hidden;
                    }
                    
                    .appa2 {
                        position: fixed;
                        background: white;
                        border-radius: 7px;
                        z-index: 10;
                        width: 690px;
                        height: 420px;
                        margin-bottom: 200px;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .exit2 {
                        width: fit-content;
                        margin-left: 650px;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    
                    .inputName3 {
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                    
                    .inputName2 {
                        text-align: center;
                    }
                    
                    .projectName2,
                    .projectDescrip,
                    .projectDate,
                    .projectPriority,
                    .notess {
                        margin-top: 5px;
                        margin-left: 20px;
                        width: 85%;
                        height: 25px;
                        border-radius: 7px;
                        border-color: black;
                        border-style: solid;
                        border-width: 1px;
                        outline: none;
                    }
                    
                    .projectName2:hover,
                    .projectDescrip:hover,
                    .projectDate:hover,
                    .projectPriority:hover,
                    .notess:hover {
                        -moz-box-shadow: 0 0 3px black;
                        -webkit-box-shadow: 0 0 3px black;
                        box-shadow: 0 0 3px black;
                    }
                    
                    .projectName2:focus,
                    .projectDescrip:focus,
                    .projectDate:focus,
                    .projectPriority:focus,
                    .notess:focus {
                        -moz-box-shadow: 0 0 3px black;
                        -webkit-box-shadow: 0 0 3px black;
                        box-shadow: 0 0 3px black;
                    }
                    
                    .theSubmitter2 {
                        all: unset;
                        background: linear-gradient(220deg, #4d95f3 0%, #5c7ce9 40%, #696ce2 70%);
                        color: white;
                        width: 300px;
                        height: 30px;
                        border-radius: 10px;
                        cursor: pointer;
                        text-align: center;
                        margin-left: 203px;
                        margin-top: 10px;
                        position: relative;
                    }
                    
                    .cum {
                        font-size: 20px;
                        margin: 0;
                    }
                    
                    .creatorHolder {
                        margin-top: 10px;
                        align-items: center;
                    }
                    
                    .clickChanger {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: 10px;
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                        cursor: pointer;
                        border: 2px solid lightblue;
                        max-width: 333px;
                        overflow-x: hidden;
                        border-radius: 7px;
                        padding-right: 5px;
                    }
                    
                    .userOutputHide {
                        grid-column: 2/3;
                        grid-row: 2/3;
                        display: grid;
                        margin-top: 20px;
                        grid-template-columns: 1fr 10fr 1fr;
                        height: 100%;
                        visibility: hidden;
                    }
                    
                    .checker {
                        cursor: pointer;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        border: 1px solid black;
                        background-color: green;
                    }